.selector {
  height: 100%;
  width: 75%;
  border-top: 2px groove #BDC3C7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  .arrow-button {
      background-color: transparent;
      border: none;
      .arrow-icon {
      max-height: 11vh;
      border-radius: 10px;
      &:hover {
        background-color: #e3e3e3;
      }
    }
  }
  .select-month {
    border: none;
    border-radius: 10px;
    background-color: transparent;
    padding: 10px;
    font-size: 3vw;
    color: #34495e;
    &:hover {
      background-color: #e3e3e3;
    }
  }
}

.modal-dialog {
  max-width: 25vw;
  form {
    width: 100%;
    .year {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      margin: 0;
      font-size: 1.8vh;
      color: #34495e;
      label {
        position: absolute;
        transform: translate(6px , 11px) scale(1);
        width: 100%;
        transform-origin: top left;
        transition: all 0.2s ease-out;
        text-align: left;
      }
      input {
        width: 100%;
        height: 5vh;
        margin: 0;
        &::placeholder {
          color: transparent;
        }
        &:not(:placeholder-shown) ~ label {
          transform: translate(7px , 5px) scale(0.75);
        }
        &:not(:placeholder-shown) {
          padding-top: 15px;
          padding-left: 7px;
        }
        &:focus {
          outline: none !important;
          border:2px solid #3498DB;
          box-shadow: 0 0 5px #3498DB;
        }
      }
      input[type=number]::-webkit-inner-spin-button, 
      input[type=number]::-webkit-outer-spin-button { 
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
      }
      .year-input-error {
        border-color: red;
        ~ label {
          color: red;
          &::after {
            content: " (Invalid Year (Do not precede 1970))";
          }
        }
      }
    }
  }
  .modal-body {
    display: grid;
    height: 30vh;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
    .month {
      margin: 2px;
      background-color: transparent;
      border: none;
      border: 1px solid lightgray;
      border-radius: 5px;
      font-size: 1.1vw;
      color: #34495e;
      // box-shadow: 1px 2px 2px gray;
      &:hover {
        background-color: #e3e3e3;
      }
    }
  }
}