.week {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-template-rows: 100%;
  .day {
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 1.5vw;
    border: none;
    flex-direction: column;
    background: none;
    +.day {
      background: linear-gradient(lightgray, lightgray) left / 2px 85% no-repeat;
    }
    &:hover {
      background-color: #e3e3e3 !important;
    }
    &.selected {
      background-color: lightsteelblue !important;
    }
  }
}