.home {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 100%;
  grid-template-rows: 7% 13% 80%;
  grid-template-areas: 
    "actions"
    "month-selector"
    "calendar";
}

.actions {
  grid-area: actions;
  height: 100%;
  width: 85%;
  margin: 0 auto;
}

.month-selector {
  grid-area: month-selector;
}

.calendar {
  grid-area: calendar;
  height: 90%;
  width: 85%;
  margin: 0 auto;
  border: 2px groove lightgray;
}