.modal-dialog {
  .modal-body {
    padding-top: 3px;
    .form-duration {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      .duration-section {
        display: flex;
        flex-direction: column;
        .duration-type {
          padding-left: 5px;
        }
        .duration-time {
          display: flex;
          flex-direction: row;
        }
        .duration-date {
          display: flex;
          flex-direction: row;
          .day {
            width: 50%;
          }
          .year {
            width: 75%;
          }
        }
        .selection {
          width: 100%;
          color: #34495e;
          border-color: #34495e;
          .selection-label {
            padding-top: 7px;
            padding-left: 4px;
            margin-bottom: -3px;
            font-size: calc(1.8vh * .75);
            color: inherit;
          }
          select {
            width: 100%;
            border: 0;
            border-bottom: 2px;
            border-style: solid;
            border-color: inherit;
            outline: none !important;
            background-color: white;
          }
          &.selection-error {
            color: red !important;
            border-color: red !important;
          }
        }
      }
      .separator {
        margin-left: 2px;
        margin-right: 2px;
        border-right: 2px groove lightgray;
      }
    }
    .form-color {
      margin-top: 20px;
      padding-left: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .color-selection {
        display: flex;
        flex-direction: row;
        .color-button {
          margin-right: 3px;
          height: 30px;
          width: 30px;
          border: 3px;
          border-radius: 50%;
          border-color: transparent;
          &.selected {
            border-style: solid;
            border-color: #3498DB;
          }
        }
      }
    }
    .form-description {
      margin-top: 12px;
      label {
        background-color: white;
      }
    }
    .form-repeating {
      margin-top: 20px;
      input {
        margin-left: 4px;
        transform: scale(1.5);
      }
      label {
        padding-left: 5px;
      }
    }
    .form-submit {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      .lightgray-button {
        width: 25%;
        background-color: white;
        color: #34495e;
        border: 2px groove lightgray;
      }
      .blue-button {
        width: 25%;
        background-color: white;
        color: #34495e;
        border: 2px groove #63b0e3;
      }
    }
  }
}
