.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  .date {
    font-size: 2vw;
    color: #34495e;
  }
  .actions {
    .action-icon {
      position: relative;
      border: none;
      background: transparent;
      .icon {
        max-height: 4vh;
        max-width: 4vh;
        border-radius: 50%;
        border: 3px solid #63b0e3;
        background-color: transparent;
        padding: .2rem;
        &:hover {
          background-color: #e3e3e3;
        }
      }
      &::before {
        content: attr(data-tooltip);
        position: absolute;
        font-size: calc(8px + (16 - 8) * ((100vw - 200px) / (1600 - 200)));
        width: 5em;
        top: 100%;
        left: calc(-1em);
        padding: .5em;
        border-radius: 10px;
        background-color: rgb(224, 224, 224);
        text-align: center;
        display: none;
        pointer-events: none;
      }
      &:hover::before {
        display: block;
      }
    }
  }
}

.modal-dialog {
  .form-name {
    margin-bottom: 10px;
    .input-error {
      ~ label {
        &::after {
          content: " (Invalid Year (Do not precede 1970))";
        }
      }
    }
  }
  .form-duration {
    display: flex;
    flex-direction: row;
    .duration-type {
      padding-left: 5px;
    }
    .duration-section {
      display: flex;
      flex-direction: column;
    }
    .separator {
      margin-left: 2px;
      margin-right: 2px;
      border-right: 2px groove lightgray;
    }
  }
  .form-color {

  }
  .form-repeating {

  }
}


