.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  .date {
    font-size: 2vw;
    color: gray;
  }
  .actions {
    .action-icon {
      position: relative;
      border: none;
      background: transparent;
      .icon {
        max-height: 4vh;
        max-width: 4vh;
        border-radius: 50%;
        border: 3px solid lightblue;
        background-color: transparent;
        padding: .2rem;
        &:hover {
          background-color: #e3e3e3;
        }
      }
      &::before {
        content: attr(data-tooltip);
        position: absolute;
        font-size: .8vw;
        width: 4vw;
        top: 100%;
        left: -20%;
        padding: .5em;
        border-radius: 10px;
        background-color: rgb(224, 224, 224);
        text-align: center;
        display: none;
      }
      &:hover::before {
        display: block;
      }
    }
  }
}