.month-4 {
  display: grid;
  height: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 3% repeat(4, minmax(0, 1fr));
}

.month-5 {
  display: grid;
  height: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 3% repeat(5, minmax(0, 1fr));
}

.month-6 {
  display: grid;
  height: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 3% repeat(6, minmax(0, 1fr));
}

.days-of-week-row {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.day-of-week {
  flex: 1 0;
}

.week-row {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-template-rows: 23% repeat(5, minmax(0, 1fr));
  row-gap: 1px;
  height: 100%;
  .grid-box {
    grid-row: 1 / 7;
    border-radius: 10px;
    border: none;
    overflow: hidden;
    background: linear-gradient(lightgray, lightgray) bottom / 80% 2px no-repeat;
    +.grid-box {
      background: linear-gradient(lightgray, lightgray) left / 2px 80% no-repeat,
      linear-gradient(lightgray, lightgray) bottom / 80% 2px no-repeat;
    }
    &.last {
      background: none;
      +.grid-box {
        background: linear-gradient(lightgray, lightgray) left / 2px 80% no-repeat;
      }
    }
    &:hover {
      background-color: #e3e3e3 !important;
    }
    &.selected {
      background-color: lightsteelblue !important;
    }
  }
  .date {
    grid-row: 1;
    padding-left: 10px;
    font-size: 1.25vw;
  }
  .event {
    margin-left: 1px;
    padding-left: 5px;
    border-radius: 3px;
    padding-right: 3px;
    overflow: hidden;
  }
  .green {
    background-color: #29BF12;
  }
  .lightgreen {
    background-color: #ABFF4F;
  }
  .blue {
    background-color: #08BDBD;
  }
  .red {
    background-color: #F21B3F;
  }
  .orange {
    background-color: #FF9914;
  }
}